/* CoreUI GTK 4 - PROGRESSBAR */
progressbar > trough {
    background-color: @core_bg_alt;
    border: 1px solid @core_border;
    border-radius: 0;
}

/* --- Orientación Horizontal --- */
progressbar.horizontal > trough {
    min-height: 10px;
}

progressbar.horizontal > trough > progress {
    background-color: @core_accent;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    background-size: 5px 100%;
    min-height: 8px;
}

/* --- Orientación Vertical --- */
progressbar.vertical > trough {
    min-width: 10px; /* Ancho de la barra vertical */
    min-height: 80px; /* Altura mínima para que sea visible */
}

progressbar.vertical > trough > progress {
    background-color: @core_accent;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    background-size: 100% 5px; /* Segmentos horizontales para barra vertical */
    min-width: 8px;
}
