/* Estado Global Inactivo: Sin !important para evitar errores */
window:backdrop,
.background:backdrop {
    background-color: @bg_base;
    color: @fg_disabled;
}

headerbar:backdrop,
.titlebar:backdrop {
    background-color: #0e1210;
    color: @border_col;
    box-shadow: inset 0 -1px 0 0 @border_col;
}

/* Evitar que las listas de Nemo se vuelvan transparentes */
.view:backdrop,
iconview:backdrop,
.sidebar:backdrop {
    background-color: @bg_base;
    color: @fg_disabled;
}
