/* ============================================================
   CoreUI v1.1 - CHECKBOX & RADIO BUTTONS
   Estilo: Indicadores de Estado HUD / Hard-Square
   ============================================================ */

/* Contenedor base del Check y Radio */
check,
radio {
    margin: 4px;
    min-width: 18px;  /* Dimensiones robustas para 1080p */
    min-height: 18px;
    background-color: #0e1210;
    border: 2px solid #1f2a24;
    border-radius: 0px !important; /* Cuadrado absoluto */
    transition: all 80ms linear;
}

/* --- CHECKBOX (Selector Cuadrado) --- */

check:hover {
    border-color: #00CCCC;
    background-color: rgba(0, 204, 204, 0.05);
}

check:checked {
    background-color: #00CCCC;
    border-color: #00CCCC;
    /* Usamos una máscara vectorial para la 'V' de verificación */
    -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
    -gtk-icon-shadow: none;
    color: #0e1210; /* Color del icono sobre el fondo cian */
}

/* --- RADIO BUTTONS (Selector de Rombo Técnico) --- */

radio {
    /* En CoreUI v1.1 los radios son rombos, no círculos */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

radio:hover {
    border-color: #FFB000; /* El radio brilla en Ámbar al hover */
    background-color: rgba(255, 176, 0, 0.05);
}

radio:checked {
    background-color: #FFB000; /* Ámbar para diferenciar de los Checks */
    border-color: #FFB000;
    -gtk-icon-source: none; /* No necesita icono, el relleno es el indicador */
}

/* --- ESTADOS DE SISTEMA --- */

/* Elementos deshabilitados */
check:disabled,
radio:disabled {
    opacity: 0.3;
    border-color: #1f2a24;
    background-color: transparent;
}

/* Estado Backdrop (Ventana sin foco) */
check:backdrop,
radio:backdrop {
    border-color: #1b211d;
    background-color: transparent;
}

check:checked:backdrop {
    background-color: #1b211d;
    color: #0e1210;
}
