check, radio {
    min-width: 18px; /* Aumentado ligeramente para legibilidad */
    min-height: 18px;
    border: 1px solid #1f2a24;
}

check:checked {
    /* Usamos un checkmark sintético con gradientes lineales para evitar archivos .svg externos */
    background-image: linear-gradient(to bottom, #00CCCC, #00CCCC);
    box-shadow: inset 3px 3px 0px #0e1210, inset -3px -3px 0px #0e1210;
}
