/* widgets/frame.css - Industrial Hard-Square */

frame,
.frame {
    border: 1px solid @border_col; 
    border-radius: 0px; 
    padding: 8px;
    background-color: transparent;
}

/* Título de la sección (Etiqueta técnica) */
frame > label,
.frame > label {
    font-family: "Inter", sans-serif;
    color: @accent; 
    font-weight: 900; 
    font-size: 8pt; 
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: @bg_base;
    padding: 0 4px;
}

/* Separadores internos de Nemo (Paned) */
paned > separator {
    background-color: @border_col;
    min-width: 1px;
    min-height: 1px;
}

paned > separator:hover {
    background-color: @accent; /* Resalta el eje de movimiento */
}
