headerbar {
    background-color: #0e1210;
    border-bottom: 2px solid #00CCCC;
    padding: 0 4px; /* Reducido de 6px */
    min-height: 30px; /* Reducido de 34px para ganar espacio en 768p */
}

/* Ajuste de botones de título para ser más nítidos */
headerbar .titlebutton {
    min-width: 28px; /* Más compacto */
    min-height: 28px;
    margin: 1px;
}
