/* widgets/headerbar.css - Technical HUD Header */

headerbar {
    background: @bg_base !important;
    border-radius: 0 !important;
    border: none !important;
    min-height: 32px !important; 
    /* Línea de acento inferior (Bus de datos) */
    box-shadow: inset 0 -2px 0 0 @accent !important; 
    padding: 0 6px;
}

/* Botones de control de ventana (Cerrar, Min, Max) */
windowcontrols button {
    background: transparent;
    border: none;
    color: @fg_main;
    min-width: 24px;
    min-height: 24px;
    margin: 4px 2px;
    padding: 0;
}

/* Botón de Cerrar (X Dinámica) */
windowcontrols button.close {
    background-image: 
        linear-gradient(45deg, transparent 42%, @fg_main 42%, @fg_main 58%, transparent 58%),
        linear-gradient(-45deg, transparent 42%, @fg_main 42%, @fg_main 58%, transparent 58%) !important;
    background-size: 10px 10px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

windowcontrols button.close:hover {
    background-color: #cc0000 !important; /* Rojo alerta al cerrar */
    color: white !important;
}

/* Botón de Minimizar (Línea de pulso) */
windowcontrols button.minimize {
    box-shadow: inset 0 -2px 0 0 @fg_main;
}
