menu,
menubar {
    background-color: @bg_alt;
    border: 1px solid @border_col;
    padding: 4px;
}

menuitem {
    padding: 4px 8px;
    min-height: 24px;
}

menuitem:hover {
    background-color: @accent;
    color: @bg_base;
}
