/* widgets/popovers.css - Module Popover Fixed */

popover {
    background-color: @bg_alt; 
    border: 1px solid @accent; 
    border-radius: 0px; 
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.8);
}

popover list row:hover {
    background-color: @bg_hover;
    color: @accent;
}

popover list row:selected {
    background-color: @accent;
    color: @bg_base;
}
