/* widgets/progressbar.css - Reactor Core Fixed */

progressbar trough {
    background-color: @bg_base; 
    border: 1px solid @border_col; 
    border-radius: 0px;
    padding: 1px;
    min-height: 10px; 
}

progressbar progress {
    background-color: @accent;
    border: none;
    /* Efecto de bloques segmentados sin usar calc() pesado */
    background-image: linear-gradient(90deg, 
                        @bg_base 1px, 
                        transparent 1px);
    background-size: 8px 100%;
}
