notebook tab {
    background-color: @bg_alt;
    padding: 4px 10px;
    border: 1px solid transparent;
}

notebook tab:checked {
    background-color: @bg_base;
    color: @accent;
    border-bottom: 2px solid @accent;
}
